<!-- Toolbar -->
<div class="toolbar" role="banner"></div>

<div class="content" role="main">
  <div class="card-container">
    <div *ngIf="(isAuthenticated | async); else notAuthenticated">
      <a
        class="card"
        rel="noopener"
        routerLink="/export"
      >
        <span>Fetch playlists</span>
        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </div>
    <ng-template #notAuthenticated>
      <a
        class="card"
        target="_blank"
        rel="noopener"
        href="http://localhost:4200/api/Authentication/login"
      >
        <span>Login to Spotify</span>
        <svg
          class="material-icons"
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
        >
          <path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z" />
        </svg>
      </a>
    </ng-template>

  </div>
</div>
